
<div class="container">

  <div fxLayout="row">
    <div class="left"></div>
    <div class="icon-small"></div>
    <div class="right"></div>
  </div>

  <div fxLayout="row">
    <div class="left"></div>
    <div class="line"></div>
    <div class="right"></div>
  </div>
  <div fxLayout="row">
    <div class="left">
      Title
    </div>
    <div class="icon">
      <button mat-icon-button >
        <mat-icon >check_circle</mat-icon>
      </button>
    </div>
    <div class="right">
      Additional text
    </div>
  </div>

  <div fxLayout="row">
    <div class="left"></div>
    <div class="line"></div>
    <div class="right"></div>
  </div>
  <div fxLayout="row">
    <div class="left">
      Title
    </div>
    <div class="icon">
      <button mat-icon-button >
        <mat-icon >face</mat-icon>
      </button>
    </div>
    <div class="right">
      Additional text
    </div>
  </div>

  <div fxLayout="row">
    <div class="left"></div>
    <div class="line"></div>
    <div class="right"></div>
  </div>
  <div fxLayout="row">
    <div class="left">
      Title
    </div>
    <div class="icon">
      <button mat-icon-button >
        <mat-icon >grade</mat-icon>
      </button>
    </div>
    <div class="right">
      Additional text
    </div>
  </div>





</div>
